{% extends "base.html" %}

{% block mobilepages %}
    <li><a href="/" id="link-Home">Home</a></li>
    <li><a href="/pages/projects" id="link-Projects">Projects</a></li>
    <li><a href="/pages/resume" id="link-Resume">Resume</a></li>
    <li><a href="/pages/about" id="link-About">About</a></li>
{% endblock %}

{% block mobilesettings %}
<li>
	<div class="divider"></div>
</li>
<li><a class="subheader">Settings</a></li>
<li>
	<a href="#!">
		<label>
			<input type="checkbox" class="filled-in" checked="" id="darkmode" />
			<span>Dark Mode</span>
		</label>
	</a>
</li>
{% endblock %}

{% block desktoppages %}
    <li><a href="/" id="link-Home">Home</a></li>
    <li><a href="/pages/projects" id="link-Projects">Projects</a></li>
    <li><a href="/pages/resume" id="link-Resume">Resume</a></li>
    <li><a href="/pages/about" id="link-About">About</a></li>
{% endblock %}

{% block desktopsettings %}
<li><a class="subheader">Settings</a></li>
<li>
	<a href="#!">
		<label>
			<input type="checkbox" class="filled-in" checked="" id="darkmode" />
			<span>Dark Mode</span>
		</label>
	</a>
</li>
{% endblock %}

{% block social %}
    <div class="fixed-action-btn vertical">
        <a class="btn-floating grey darken-1" href="mailto:lena@voytek.dev"><i class="fa fa-envelope"></i></a></li>
        <a class="btn-floating grey darken-3" href="https://github.com/lvoytek"><i class="fa fa-github"></i></a></li>
        <a class="btn-floating blue-grey lighten-1" href="https://www.linkedin.com/in/lena-voytek-879b59135/"><i
                class="fa fa-linkedin"></i></a>
        <a class="btn-floating orange darken-4" href="https://launchpad.net/~lvoytek"><img
                src="https://launchpadlibrarian.net/600817174/Canonical_Launchpad_icon_64px.png" alt="" width="38"
                height="38"></a></li>
        <a class="btn-floating red accent-3" href="https://www.instagram.com/ok.thisislena/"><i
                class="fa fa-instagram"></i></a>
    </div>
{% endblock %}