@import "custom_colors";
@import "materialize/sass/components/color-classes";
@import "all";

$primary-color: color("purple-navy", "darken-2");
$secondary-color: color("maximum-blue-purple", "lighten-2");
$success-color: color("magic-mint", "lighten-3");
$error-color: color("rose-red", "darken-2");
$link-color: color("zomp", "darken-3");
$card-bg-color: color("purple-navy", "lighten-1");

body {
	@extend .zomp, .lighten-3;
}

#landing {
	background-image: url('/static/images/landing-light.png');
}

.span-wrapper {
  background-color: black;
  height: 1px;
  margin: 32px 0;
  text-align: center;
}

span.slice {
  position: relative;
  top: -8px;
  padding: 0 15px;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 1em;
  color: #000000;
  @extend .zomp, .lighten-3;
}

@import "materialize/sass/materialize";