server {
    server_name voytek.dev;

    location / {
            include uwsgi_params;
            uwsgi_pass unix:///var/www/voytek_dev_django/voytek.sock;
            uwsgi_read_timeout 300s;
            client_max_body_size 32m;
    }

    listen 80;
}