@import "custom_colors";
@import "materialize/sass/components/color-classes";
@import "all";

$primary-color: color("purple-navy", "darken-2");
$secondary-color: color("maximum-blue-purple", "lighten-2");
$success-color: color("magic-mint", "lighten-3");
$error-color: color("rose-red", "darken-2");
$link-color: color("zomp", "darken-3");
$card-bg-color: color("purple-navy", "lighten-1");

body {
	@extend .zomp, .lighten-3;
}

#landing {
	background-image: url('/images/landing-light.png');
}

@import "materialize/sass/materialize";