{% extends "base_page.html" %}
{% load static %}
{% block title %}<title>About</title>{% endblock %}
{% block content %}
		<div class="container">
			<h1 class="header center">About Me</h1>
            <div class="row--50-50">
                <div class="col">
                    <img class="p-image--shadowed" alt="Lena Voytek" src="{% static 'images/lena.jpg' %}">
                </div>
                <div class="col">
					<p>
						Hi, I'm Lena Voytek. I am a software engineer specializing in operating systems, embedded software, and full-stack development. I currently work as a developer for Canonical on <a href="https://ubuntu.com/download/server">Ubuntu Server</a>.
						While you're here, feel free to take a look at some of my open source projects on the <a href="/projects">Projects page</a>. You can also find my Resume <a href="/pages/resume">here</a>. For a visual representation of my skills,
						you can scroll further down this page.
					</p>
                </div>
            </div>
		</div>
        {% if skills and categories %}
        <div class="container">
            <div class="row">
                <h1 class="center">
                    My Skills
                </h1>
            </div>

            {% for category in categories %}
                <div class="span-wrapper">
                    <span class="slice">{{ category.title }}</span>
                </div>
                <div class="row center">
                    {% for skill in skills %}
                        {% if skill.category == category %}
                        <div class="center col s6 m6 l3" style="height: 25vh;">
                            <a href="/projects?search={{ skill.tag }}"><img style="max-height: 80%; width: auto;" alt="{{ skill.title }}" src="{{ skill.image.url }}"></a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endif %}
{% endblock %}