{% extends "base.html" %}

{% block mobilepages %}
    <li><a href="/" id="link-Home">Home</a></li>
    <li><a href="/projects" id="link-Projects">Projects</a></li>
    <li><a href="/resume" id="link-Resume">Resume</a></li>
    <li><a href="/about" id="link-About">About</a></li>
{% endblock %}

{% block mobilesettings %}
<li>
	<div class="divider"></div>
</li>
<li><a class="subheader">Settings</a></li>
<li>
	<a href="#!">
		<label>
			<input type="checkbox" class="filled-in" checked="" id="darkmode" />
			<span>Dark Mode</span>
		</label>
	</a>
</li>
{% endblock %}

{% block desktoppages %}
    <li><a href="/" id="link-Home">Home</a></li>
    <li><a href="/projects" id="link-Projects">Projects</a></li>
    <li><a href="/resume" id="link-Resume">Resume</a></li>
    <li><a href="/about" id="link-About">About</a></li>
{% endblock %}

{% block desktopsettings %}
<li><a class="subheader">Settings</a></li>
<li>
	<a href="#!">
		<label>
			<input type="checkbox" class="filled-in" checked="" id="darkmode" />
			<span>Dark Mode</span>
		</label>
	</a>
</li>
{% endblock %}

{% block social %}
    <ul class="p-inline-list u-align--right">
        <li class="p-inline-list__item">
            <a href="mailto:lena@voytek.dev" class="p-icon--email">Email</a>
        </li>
        <li class="p-inline-list__item">
            <a href="https://github.com/lvoytek" class="p-icon--github">GitHub</a>
        </li>
        <li class="p-inline-list__item">
            <a href="https://www.linkedin.com/in/lenascript/" class="p-icon--linkedin">Linkedin</a>
        </li>
        <li class="p-inline-list__item">
            <a href="https://launchpad.net/~lvoytek" class="p-icon--launchpad"><img
                src="https://launchpadlibrarian.net/600817174/Canonical_Launchpad_icon_64px.png" alt="Launchpad" width="24"
                height="24"></a>
        </li>
        <li class="p-inline-list__item">
            <a href="https://www.instagram.com/ok.thisislena/" class="p-icon--instagram">Instagram</a>
        </li>
    </ul>

{% endblock %}