{% extends "base_page.html" %}
{% load static %}
{% block title %}<title>Ciabatta Time</title>{% endblock %}
{% block content %}
    <div class="p-strip--dark">
        <div class="row--25-75">
            <h1 class="p-heading--2">Lena's Cool Ciabatta</h1>
        </div>
    </div>
    <div class="p-strip">
        <div class="row--25-75">
            <h1 class="p-heading--2">Ingredients</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <form class="row">
                    <div class="col-2">
                    <input type="number" id="loaves" name="loaves" min="0" max="6" value="{{ bread.loaves }}" style="width: 30px;">
                    loaves
                    </div>
                    <div class="col-2">
                    <input type="number" id="rolls" name="rolls" min="0" max="24" step="4" value="{{ bread.rolls }}" style="width: 40px;">
                    rolls.
                    </div>
                    <div class="col-2">
                    <button type="submit" class="waves-effect waves-light btn-small">Update</button>
                    </div>
                </form>
                <ul>
                    <li>{{ bread.total_flour }}g Flour</li>
                    <li>{{ bread.total_water }}g Water</li>
                    <li>{{ bread.yeast }} tsp Instant Yeast</li>
                    <li>{{ bread.salt }}g Salt</li>
                </ul>
            </div>
        </div>
        <div class="row--25-75">
            <h1 class="p-heading--2">Directions</h1>
        </div>
        <div class="row">
            <div class="col-12">
                <p>
                    Start the process by creating a poolish:
                </p>
                <ul>
                    <li>Mix <b>{{ bread.initial_flour }}g of flour</b> with <b>{{ bread.yeast }} tsp of instant yeast</b></li>
                    <li>Add <b>{{ bread.initial_water }}g of water</b>, stir to combine</li>
                    <li>Cover bowl and <b>wait 4 hours</b></li>
                </ul>
                <p>
                    Add the remaining ingredients:
                </p>
                <ul>
                    <li>Add <b>{{ bread.remaining_water }}g of water</b>, stir to combine</li>
                    <li>Add <b>{{ bread.salt }}g of salt</b>, stir again</li>
                    <li>Add <b>{{ bread.remaining_flour }}g of flour</b> in {{ bread.flour_increments }}g increments, mixing each time</li>
                    <li>Cover the dough ball in the bowl and <b>wait for 30 min</b></li>
                </ul>
                <p>
                    Now it's time to stretch and fold:
                </p>
                <ul>
                    <li>With wet hands, stretch the dough by pulling it toward you, then flop the closer half onto the other.</li>
                    <li>Rotate the bowl by a quarter turn</li>
                    <li>Repeat above two steps 11-19 more times to smooth the dough</li>
                    <li>Cover the bowl and <b>wait for 30 min</b></li>
                    <li>Repeat the above steps three more times, <b>waiting 2 hours</b> after the final round</li>
                </ul>
                <p>
                    Prepare to wait:
                </p>
                <ul>
                    <li>With wet hands, remove the dough from the bowl</li>
                    <li>Punch the dough down, then ball it back up</li>
                    <li>Return the dough to the bowl, cover, and move to the fridge</li>
                    <li><b>Wait overnight</b> for the dough to rise again</li>
                </ul>
                <p>
                    Prepare to bake:
                </p>
                <ul>
                    <li>Remove dough from bowl and ball it up</li>
                    <li>Divide dough into {{ bread.portion_split }} equal portions then ball them all up</li>
                    <li>Sprinkle work surface with a lot of flour</li>
                    <li>Roll each ball to cover it in flour</li>
                    <li>If you would like to make rolls, subdivide balls into 4 equal parts each and sprinkle with flour</li>
                    <li>Cover with towel and <b>wait 2 and a half hours</b></li>
                </ul>
                <p class="flow-text">
                    Bake time:
                </p>
                <ul>
                    <li>Turn the balls over</li>
                    <li>Place balls onto pans lined with parchment paper</li>
                    <li>Bake at <b>425°F for 20-25 minutes on the bottom rack.</b></li>
                    <li>Cool for <b>20 min</b></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}