{% extends "base_page.html" %}
{% load static %}
{% block title %}<title>Ciabatta Time</title>{% endblock %}
{% block content %}
        <div class="container">
            <div class="row">
                <h1 class="center">
                    Lena's Cool Ciabatta
                </h1>
            </div>
            <div class="span-wrapper">
                <span class="slice">Ingredients</span>
            </div>
            <div class="row center">
                <ul>
                    <li>1000g Flour</li>
                    <li>770g Water</li>
                    <li>1 tsp Instant Yeast</li>
                    <li>24g Salt</li>
                </ul>
                Makes 4 loaves or 16 rolls.
            </div>
            <div class="span-wrapper">
                <span class="slice">Directions</span>
            </div>
            <div class="row center">
                <p class="flow-text">
                    Start the process by creating a poolish:
                </p>
                <ul>
                    <li>Mix <b>100g of flour</b> with <b>1 tsp of instant yeast</b></li>
                    <li>Add <b>100g of water</b>, stir to combine</li>
                    <li>Cover bowl and <b>wait 4 hours</b></li>
                </ul>
                <p class="flow-text">
                    Add the remaining ingredients:
                </p>
                <ul>
                    <li>Add <b>720g of water</b>, stir to combine</li>
                    <li>Add <b>24g of salt</b>, stir again</li>
                    <li>Add <b>900g of flour</b> in 100-200g increments, mixing each time</li>
                    <li>Cover the dough ball in the bowl and <b>wait for 30 min</b></li>
                </ul>
                <p class="flow-text">
                    Now it's time to stretch and fold:
                </p>
                <ul>
                    <li>With wet hands, stretch the dough by pulling it toward you, then flop the closer half onto the other.</li>
                    <li>Rotate the bowl by a quarter turn</li>
                    <li>Repeat above two steps 11-19 more times to smooth the dough</li>
                    <li>Cover the bowl and <b>wait for 30 min</b></li>
                    <li>Repeat the above steps three more times, <b>waiting 2 hours</b> after the final round</li>
                </ul>
                <p class="flow-text">
                    Prepare to wait:
                </p>
                <ul>
                    <li>With wet hands, remove the dough from the bowl</li>
                    <li>Punch the dough down, then ball it back up</li>
                    <li>Return the dough to the bowl, cover, and move to the fridge</li>
                    <li><b>Wait overnight</b> for the dough to rise again</li>
                </ul>
                <p class="flow-text">
                    Prepare to bake:
                </p>
                <ul>
                    <li>Remove dough from bowl and ball it up</li>
                    <li>Divide dough into 4 equal portions then ball them all up</li>
                    <li>Sprinkle work surface with a lot of flour</li>
                    <li>Roll each ball to cover it in flour</li>
                    <li>If you would like to make rolls, subdivide balls into 4 equal parts each and sprinkle with flour</li>
                    <li>Cover with towel and <b>wait 2 and a half hours</b></li>
                </ul>
                <p class="flow-text">
                    Bake time:
                </p>
                <ul>
                    <li>Turn the balls over</li>
                    <li>Place balls onto pans lined with parchment paper</li>
                    <li>Bake at <b>425°F for 20-25 minutes</b></li>
                    <li>Cool for <b>20 min</b></li>
                </ul>
            </div>
        </div>
{% endblock %}