{% extends "base_page.html" %}
{% load static %}
{% block title %}<title>Projects</title>{% endblock %}
{% block content %}
    <div class="p-strip--dark">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-start-large-4 col-6">
                        <h1 class="p-heading--2">Projects</h1>
                        <form class="p-search-box">
                            <label class="u-off-screen" for="search">Search Projects</label>
                            <input type="search" id="project-search" class="p-search-box__input" name="search" placeholder="" required="" autocomplete="on">
                            <button type="reset" class="p-search-box__reset"><i class="p-icon--close">Close</i></button>
                            <button type="submit" class="p-search-box__button"><i class="p-icon--search">Search</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            {% if projects %}
                <div class="l-fluid-breakout__main">
                    {% for project in projects %}
                        <div class="viz-grid-item l-fluid-breakout__item">
                            <div class="p-card u-no-padding">
                                <img class="p-card__image" src="{{ project.image.url }}" alt="{{ project.title }}">
                                <div class="p-card__inner">
                                    <h3><a href="{{ project.link }}">{{ project.title }}</a></h3>
                                    <p>
                                        {{ project.overview }}
                                    </p>
                                </div>
                                {% if project.tags %}
                                    <hr class="u-no-margin--bottom">
                                    <div class="p-card__inner">
                                        Tags:
                                        {% for tag in project.tags %}
                                            <a href="/projects?search={{ tag }}">#{{ tag }}</a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
{% endblock %}