{% extends "base.html" %}
{% load static %}
{% block title %}<title>Projects</title>{% endblock %}
{% block includes %}<script src="{% static 'scripts/project_filter.js' %}"></script>{% endblock %}
{% block content %}
    <div class="p-strip--dark">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-start-large-4 col-6">
                        <h1 class="p-heading--2">Projects</h1>
                        <form class="p-search-box">
                            <label class="u-off-screen" for="search">Search Projects</label>
                            <input type="search" id="project-search" class="p-search-box__input" name="search" placeholder="{{ search }}" required="" autocomplete="on">
                            <button type="reset" class="p-search-box__reset"><i class="p-icon--close">Close</i></button>
                            <button type="submit" class="p-search-box__button"><i class="p-icon--search">Search</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if projects %}
        <div class="p-strip">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">
                            {% if skills and categories %}
                                <div class="p-filter-panel ">
                                    <div class="p-filter-panel__header">
                                    </div>
                                    {% for category in categories %}
                                        <div class="p-filter-panel__inner">
                                            <h2 class="p-muted-heading">{{ category.title }}</h2>
                                            {% for skill in skills %}
                                                {% if skill.category == category %}
                                                    <label class="p-checkbox">
                                                        <input id="check-{{ skill.tag }}" aria-labelledby=":rf:" class="p-checkbox__input" type="checkbox">
                                                        <span class="p-checkbox__label" id=":rf:">{{ skill.title }}</span>
                                                    </label>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <div class="row">
                                {% for project in projects %}
                                    <div class="col-3" style="margin-bottom: 1.5rem;">
                                        <div class="u-no-margin--bottom p-card" role="group" style="height: 100%; border-top: 3px solid #76658b;">
                                            <div class="p-card__content">
                                                <div class="p-media-object" style="height: 100%;">
                                                    <img src="{{ project.image.url }}" width="48" height="48" alt="" class="p-media-object__image" data-testid="package-icon">
                                                    <div class="sc-package-card p-media-object__details" style="width: 100%;">
                                                        <div class="sc-package-card" style="width: 100%; height: 100%;">
                                                            <div class="sc-package-card__body">
                                                                <h2 class="sc-package-card__heading p-heading--5 u-no-margin--bottom"><a class="sc-package-card__heading-link" href="{{ project.link }}">{{ project.title }}</a></h2>
                                                                <p class="u-line-clamp u-no-margin--bottom">{{ project.overview }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if project.tags %}
                                                    <hr class="u-no-margin--bottom">
                                                    <div class="p-card__inner u-no-margin--bottom">
                                                        {% for tag in project.tags %}
                                                            <button class="p-chip" onclick="location.href='/projects?search={{ tag }}'">
                                                                <span class="p-chip__value">{{ tag }}</span>
                                                            </button>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}